<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=960">
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Anonymous+Pro&amp;subset=all">
<title>Page 1</title>
<link rel="stylesheet" href="/static/puzzleTracker/css/site20160624203611.css" />
<!--[if lte IE 7]>
<link rel="stylesheet" type="text/css" href="css/site.20160624203611-lteIE7.css">
<![endif]-->
</head>
<body id="body">
<div class="pos section">
<div class="vis pos-2 size cont">
<div class="vis pos-3 size-2 cont-2">
<div class="cont-3"><p class="para"><span class="font">A Co Analytic Challenge</span></p></div>
</div>
<ul class="menu-horizontal-dropdown vis-2 pos-3 size-3 menu" id="menu-1">
<li class="vis pos-3 size-4 menu-item">
<a class="menu-link" href="#">
<div class="menu-content">
<div class="vis pos-3 size-5 cont-4"></div>
<div class="vis pos-4 size-6 cont-3">
<div class="cont-3"><p class="para-2"><span class="font-2">system:home</span></p></div>
</div>
</div>
</a>
</li>
<li class="vis pos-3 size-4 menu-item">
<div class="menu-content">
<div class="vis pos-3 size-5 cont-4"></div>
<div class="vis pos-4 size-6 cont-3">
<div class="cont-3"><p class="para-2"><span class="font-2">/status</span></p></div>
</div>
</div>
<ul class="menu-vertical-dropdown vis-3 pos-3 size-7 menu-2">
<li class="vis pos-3 size-8 menu-item">
<a class="menu-link" href="#">
<div class="menu-content">
<div class="vis pos-3 size-8 cont-5"></div>
<div class="vis pos-4 size-9 cont-3">
<div class="cont-3"><p class="para-2"><span class="font-2">/teamOne</span></p></div>
</div>
</div>
</a>
</li>
<li class="vis pos-3 size-8 menu-item">
<a class="menu-link" href="#">
<div class="menu-content">
<div class="vis pos-3 size-8 cont-5"></div>
<div class="vis pos-4 size-9 cont-3">
<div class="cont-3"><p class="para-2"><span class="font-2">/teamTwo</span></p></div>
</div>
</div>
</a>
</li>
<li class="vis pos-3 size-8 menu-item">
<a class="menu-link" href="#">
<div class="menu-content">
<div class="vis pos-3 size-8 cont-5"></div>
<div class="vis pos-4 size-9 cont-3">
<div class="cont-3"><p class="para-2"><span class="font-2">/teamThree</span></p></div>
</div>
</div>
</a>
</li>
<li class="vis pos-3 size-8 menu-item">
<a class="menu-link" href="#">
<div class="menu-content">
<div class="vis pos-3 size-8 cont-5"></div>
<div class="vis pos-4 size-9 cont-3">
<div class="cont-3"><p class="para-2"><span class="font-2">/teamFour</span></p></div>
</div>
</div>
</a>
</li>
<li class="vis pos-3 size-8 menu-item">
<a class="menu-link" href="#">
<div class="menu-content">
<div class="vis pos-3 size-8 cont-5"></div>
<div class="vis pos-4 size-9 cont-3">
<div class="cont-3"><p class="para-2"><span class="font-2">/teamFive</span></p></div>
</div>
</div>
</a>
</li>
<li class="vis pos-3 size-8 menu-item">
<a class="menu-link" href="#">
<div class="menu-content">
<div class="vis pos-3 size-8 cont-5"></div>
<div class="vis pos-4 size-9 cont-3">
<div class="cont-3"><p class="para-2"><span class="font-2">/teamSix</span></p></div>
</div>
</div>
</a>
</li>
<li class="vis pos-3 size-8 menu-item">
<a class="menu-link" href="#">
<div class="menu-content">
<div class="vis pos-3 size-8 cont-5"></div>
<div class="vis pos-4 size-9 cont-3">
<div class="cont-3"><p class="para-2"><span class="font-2">/teamSeven</span></p></div>
</div>
</div>
</a>
</li>
<li class="vis pos-3 size-8 menu-item">
<a class="menu-link" href="#">
<div class="menu-content">
<div class="vis pos-3 size-8 cont-5"></div>
<div class="vis pos-4 size-9 cont-3">
<div class="cont-3"><p class="para-2"><span class="font-2">/teamEight</span></p></div>
</div>
</div>
</a>
</li>
</ul>
</li>
<li class="vis pos-3 size-4 menu-item">
<a class="menu-link" href="#">
<div class="menu-content">
<div class="vis pos-3 size-5 cont-4"></div>
<div class="vis pos-4 size-6 cont-3">
<div class="cont-3"><p class="para-2"><span class="font-2">--help</span></p></div>
</div>
</div>
</a>
</li>
</ul>
</div>
<div class="vis pos-5 size-10 cont-6">
<div class="cont-3"><p class="para-3"><span class="font">Text</span></p></div>
</div>
</div>
<script type="text/javascript" src="/static/puzzleTracker/js/jquery.js" defer></script>
<script type="text/javascript" src="/static/puzzleTracker/js/jqueryui.js" defer></script>
<script type="text/javascript" src="/static/puzzleTracker/js/menu.js" defer></script>
<script type="text/javascript" src="/static/puzzleTracker/js/menu-horizontal-dropdown.js"  defer></script>
<script type="text/javascript" src="/static/puzzleTracker/js/menu-vertical-dropdown.js" defer></script>
<script type="text/javascript" src="/static/puzzleTracker/js/index.20160624203611.js" defer></script>
<script type="text/javascript">
var ver=RegExp(/Mozilla\/5\.0 \(Linux; .; Android ([\d.]+)/).exec(navigator.userAgent);if(ver&&parseFloat(ver[1])<5){document.getElementsByTagName('body')[0].className+=' whitespacefix';}
</script>
</body>
</html>
